/src/**/*.s
/data/*
/sound/direct_sound_samples/*
/include/extracted/*

*.gba
*.gba.lz
*.elf
*.dump
*.o
*.map
*.bin
*.sav

*.exe
*.dll
*.deps.json
*.runtimeconfig.json

linker.ld.pp
include/**/*.s
tools/*.txt
tools/agbcc
.vscode

err.log

# 3DS port build artifacts
platform/3ds/build/
